<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/shortnerController.js"></script>
    <script src="~/js/dataService.js"></script>
</head>
<body ng-app="urlShortnerApp">
    <div ng-view></div>
</body>
</html>
